table, tr, td {
    border-width:  1px;
    border-style:  outset;
}
p, li {
    white-space :  pre-wrap;
}

td.n { /* numeric data */
    text-align  :  right;
}
td.t { /* titular data */
    text-align  :  center;
}
